:root{
    --titulo-color: #797979;
    --titulo-h4-color:#A62639;
    --fontWeight-h4: 400;
    --fontSize-h4: 18px;
    --paragrafo-color:#797979;
    --linkMenu-color: #393939;
    --azulMediclick-color: #01BFDA;
    --vermelho-color:#A62639;
    --azul-color:#435E93;
    --azul-color-overlay:#435e93e2;
}